.subTitle {
    font-size: 20px;
    color: green;
    font-weight: 400;
}
.sub-Title {
    font-size: 20px;
    color: green;
    font-weight: 400;
}
.heading {
    font-weight: 800;
}

.title {
    color: yellow;
}


